@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reihl University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Reihl University</h2>
        <p>
            Reihl University is an un-traditional college devoted to the unschooling and
            homeschooling community so learners can continue learning for the future.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Located in the heart of Beaverton OR</h2>
        <p>Come see what the your home learner can do now.</p>

    </div>
    <div class="col-md-4">
        <h2>Visit us today</h2>
        <img src="~/ReihlU.jpg" />
    </div>
</div>