@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-3 text-center">Auto Insurance Pros</h1>
        <p class="lead">Please enter your information to start.</p>
    </div>
</div>
<div>
    <button type="submit" class="btn btn-block btn-primary">Get Started</button>
</div>